body{
  background-color: rgb(123, 135, 180);
}

#board{
  border-collapse: collapse;
  width: 50%;
  margin-left: 25%;
}

#heading{
  text-align: center;
}

tr{
  height: 4em;
}

td{
  border: 1px solid black;
  width: 10%;
  text-align: center;
}

#messageBox{
  text-align: center;
}

button{
  width: 150px;
  height: 30px;
}

.showButton{
  visibility: visible;
  margin-top: 20em;
  margin-left: 45%;
  width: 150px;
  height: 30px;
}

.hideButton{
  visibility: hidden;
  margin-top: 0px;
  margin-left: 0px;
  width: 00px;
  height: 00px;
}
