#board{
  border-collapse: collapse;
  width: 50%;
  margin-left: 25%;
}

#heading{
  text-align: center;
}

tr{
  height: 4em;
}

td{
  border: 1px solid black;
  width: 10%;
  text-align: center;
}

#messageBox{
  /*visibility: hidden;*/
  text-align: center;
  /*margin-left: 50%;*/
  /*margin-top: 50%;*/
}
#startButton{
  width: 150px;
  height: 30px;
}
